<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="NewRelicAppender" />
  </root>

  <appender name="NewRelicAppender" type="NewRelic.LogEnrichers.Log4Net.NewRelicAppender, NewRelic.LogEnrichers.Log4Net" >
    <threshold value="ALL"/>
    <appender-ref ref="ToJsonFormatAppender" />
    <appender-ref ref="ToLogFormatAppender" />
  </appender>

  <appender name="ToJsonFormatAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="%property{NewRelicLogFileName}" />
    <param name="AppendToFile" value="true" />
    <encoding type="System.Text.UTF8Encoding, System.Text.Encoding.Extensions"/>
    <layout type="NewRelic.LogEnrichers.Log4Net.NewRelicLayout, NewRelic.LogEnrichers.Log4Net">
    </layout>
  </appender>

  <appender name="ToLogFormatAppender" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="%property{StandardLogFileName}" />
    <param name="AppendToFile" value="true" />
    <encoding type="System.Text.UTF8Encoding, System.Text.Encoding.Extensions"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
